#blocklyDiv {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.blocklySvg {
  height: 100% !important;
  width: 100% !important;
  background: #e0f0fc !important;
}

.blocklyFlyout {
  width: 215px;
  height: 100% !important;
  background: #ccd5ed;
  padding-left: 30px !important;
}

.injectionDiv {
  position: relative;
}

.injectionDiv::after {
  content: "";
  position: absolute;
  left: -10px;
  width: 50px;
  height: 100%;
  background-image: url("../../assets/line.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px 140%;
  z-index: 30;
}

.name_challenge {
  position: absolute;
  z-index: 30;
  width: 215px;
  height: 80px;
  line-height: 80px;
  font-size: 25px;
  font-weight: bold;
  color: #758ec7;
}

.name_challenge span {
  position: absolute;
  background: #f8e6e3;
  width: 25px;
  height: 25px;
  color: #f1c7c1;
  line-height: 25px;
  top: 35px;
  border: 1px solid white;
}

.blocklyFlyoutBackground {
  fill: transparent;
  fill-opacity: none;
}

.blocklyTrash {
  transform: translate(520px, 450px) !important;
  opacity: 1 !important;
}

.blocklyTreeIcon {
  width: 0;
}

.banner-challenge {
  position: absolute;
  z-index: 30;
  top: 25px;
  font: normal normal bold 30px Poppins;
  display: flex;
  width: 230px;
  color: #758ec7;
  justify-content: center;
}

.banner-challenge span {
  font: normal normal bold 18px Poppins;
  width: 25px;
  height: 25px;
  background: white;
  color: #f4d3ce;
  display: grid;
  place-items: center;
  position: relative;
  top: 20px;
}

.blocklyScrollbarHorizontal {
  display: none;
}

@media screen and (max-width: 1500px) {
  .blocklyTrash {
    transform: translate(530px, 450px) !important;
  }
}

@media screen and (max-width: 1300px) {
  .blocklyTrash {
    transform: translate(480px, 450px) !important;
  }
}

@media screen and (max-width: 1100px) and (orientation: landscape) {
  .blocklyFlyout {
    width: 160px;
  }

  .name_challenge {
    width: 160px;
  }

  .blocklyTrash {
    transform: translate(295px, 300px) !important;
    opacity: 1 !important;
  }
}