@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,700&display=swap");

:root {
  --yellow-color: #f4c214;
  --white-color: white;
  --blue-color: #1974c6;
}

.content-item-wrap {
  width: unset !important;
}

.P8gokhAqzYbmwRSdIX15 {
  opaque: 0 !important;
  visibility: hidden !important;
}

h1.course-item-title.question-title {
 display: none !important;
}

.content-item-summary  {
  max-width: unset !important;
  display: grid;
  place-items: center;
  padding-top: 0 !important;
}

#popup-content {
  background-image: url("../../assets/background.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: grid;
  align-items: center;
}

#canvas {
  box-shadow: 10px 0px 10px #02396b4d;
  border-radius: 5px;
}

.modal-content > div.modal-header {
  border: none;
  height: 0;
  padding: 20px 30px 0 0;
}

.modal-content > div:not(.modal-header) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  color: #00386a;
  font: normal normal 500 18px/20px Poppins;
  text-align: center;
  row-gap: 10px;
}

.modal-content > div h3 {
  font: normal normal bold 30px/32px Poppins;
}

.modal-content > div img {
  height: 200px;
  width: 140px;
  object-fit: contain;
}

.modal-content > div div.buttons {
  display: flex;
  column-gap: 20px;
  width: 80%;
  margin-top: 10px;
}

.modal-content > div div.buttons button {
  border: none;
  outline: none;
  width: 100%;
  height: 44px;
  color: #1974c6;
  outline: 2px solid #1974c6;
  background: white;
  font: normal normal bold 20px/22px Poppins;
}

.modal-content > div div.buttons button.active {
  background: #1974c6;
  color: white;
}

.modal-content > div div.buttons button.active:hover {
  background: #18a4cf;
  outline: 2px solid #18a4cf;
}

main.game * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main.game {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

main.game > div.locked {
  display: none;
}

div.logo img {
  height: 60px;
  object-fit: contain;
}

main.game > div.wrapper {
  width: 100%;
  text-align: center;
}

main.game > div.wrapper div.header {
  position: relative;
}

main.game > div.wrapper div.header,
main.game > div.wrapper div.header span {
  display: grid;
  place-items: center;
}

main.game > div.wrapper article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

main.game > div.wrapper article section.dashboard {
  font-size: 40px;
  display: grid;
  grid-template-rows: 1fr auto;
  position: relative;
}

main.game > div.wrapper article section.dashboard > button {
  position: absolute;
  top: -50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0 20px;
  height: 50px;
  left: 10%;
  font-size: 16px;
  color: white;
  font-weight: bold;
  line-height: 50px;
  background: #1974c6;
  z-index: 10;
  border: none;
  cursor: pointer;
}

main.game > div.wrapper article section.dashboard > button:hover {
  background: #18a4cf;
  transition: 0.5 all ease-in;
}

main.game > div.wrapper article section.dashboard > div:not(.info) {
  background: var(--white-color);
  display: grid;
  place-items: center;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 3px 10px #02396b4d;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px 0;
}

main.game > div.wrapper article section.dashboard > div.info {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

main.game > div.wrapper article section.dashboard > div.info.extend {
  grid-template-columns: auto 1fr auto;
  column-gap: 0;
}

main.game > div.wrapper article section.dashboard > div.info div {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

main.game > div.wrapper article section.dashboard > div.info div span {
  font-size: 20px;
  color: white;
  width: 60px;
  letter-spacing: 5px;
}

main.game > div.wrapper article section.dashboard > div.info div img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

main.game > div.wrapper article section.dashboard > div.info button {
  height: 50px;
  width: 120px;
  cursor: pointer;
  border: none;
  appearance: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
}

main.game
  > div.wrapper
  article
  section.dashboard
  > div.info
  button#replay:disabled {
  filter: grayscale(1);
}

main.game > div.wrapper article section.dashboard > div.info button#play {
  background-image: url("../../assets/play.png");
}

main.game > div.wrapper article section.dashboard > div.info button#replay {
  background-image: url("../../assets/replay.png");
  display: none;
}

main.game
  > div.wrapper
  article
  section.dashboard
  > div.info
  > button:not(:disabled):active {
  transform: scale(0.9) !important;
}

main.game > div.wrapper article section.controls {
  border-radius: 10px;
  box-shadow: 0px 3px 10px #02396b4d;
  background: var(--white-color);
  position: relative;
}

main.game > div.wrapper article section.controls > button {
  top: -49px;
  right: 0;
  z-index: 10;
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0 20px;
  height: 50px;
  font-size: 16px;
  color: #758ec7;
  font-weight: bold;
  line-height: 50px;
  background: #e0f0fc;
  border: none;
  cursor: pointer;
}

main.game > div.wrapper article section.controls > button:hover {
  filter: brightness(0.9);
}

main.game > div.wrapper article section div.frame {
  position: relative;
}

main.game > div.wrapper article section.dashboard > div.info .timer {
  background-image: url("../../assets/timer_bar.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 350px;
  margin: 0 auto;
  height: 100px;
  position: relative;
}

main.game > div.wrapper article section.dashboard > div.info .timer span {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  right: 80px;
  color: #29888e;
  letter-spacing: 0px;
  background: #3ab9d7;
  width: 65px;
  height: 25px;
  line-height: 28px;
  text-align: center;
  display: grid;
  place-items: center;
  border-radius: 3px;
  top: 35px;
}

@media screen and (max-width: 1400px) {
  .no_copy {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  main.game > div.wrapper article section.dashboard > div:not(.info) {
   width: 90%;
  }
  
  main.game > div.wrapper article section.dashboard > button {
   left: 5%;
  }

}

@media screen and (max-width: 1100px) and (orientation: landscape) {
  main.game {
    display: grid;
    place-items: center;
  }

  main.game > div.wrapper div.header span {
    height: 25px;
    width: fit-content;
    padding: 0 10px;
    font-size: 12px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  main.game > div.wrapper article section.dashboard {
    font-size: 20px;
    row-gap: 10px;
  }

  main.game > div.wrapper article section.dashboard > button,
  main.game > div.wrapper article section.controls > button {
    display: none;
  }

  main.game > div.wrapper article section.dashboard button {
    height: 30px;
    width: 100px;
    font-size: 16px;
    border-radius: 8px;
  }

  main.game > div.wrapper article section.dashboard > div.info {
    grid-template-columns: auto 1fr auto;
  }

  main.game > div.wrapper article section.dashboard > div:not(.info) {
    width: 100%;
    border-radius: 10px;
  }

  main.game > div.wrapper article section.dashboard > div.info .timer {
    width: 100%;
    height: 40px;
  }

  main.game > div.wrapper article section.dashboard > div.info .timer span {
    right: 23%;
    width: 45px;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    top: 10px;
  }

  main.game > div.wrapper article section.dashboard > div.info button {
    height: 40px;
  }

  div.logo {
    display: none;
  }

  .modal-content > div {
    row-gap: 0;
    padding: 20px;
    font: normal normal 500 12px Poppins;
  }

  .modal-content > div h3 {
    font: normal normal bold 18px Poppins;
  }

  .modal-content > div img {
    height: 150px;
    width: 70px;
  }

  .modal-content > div div.buttons button {
    height: 30px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1100px) and (orientation: portrait) {
  main.game {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
  }

  div.logo {
    display: none;
  }

  main.game > div.locked {
    filter: none;
    display: block;
    height: 100%;
    width: 100%;
    background-image: url("../../assets/locked.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  main.game > div.wrapper {
    display: none;
  }
}

@media screen and (min-width: 1450px) {
  main.game > div.wrapper article {
    max-width: 1250px;
    margin: 0 auto;
  }
}